body {
 background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/video/0/02/027/0277/0277192.jpg.rend.hgtvcom.826.465.suffix/1498848428541.jpeg");
 background-color: #cccccc;
 background-position: center;
 width: 1000px;
 
}